<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Pitt Bull Lanches">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        <!-- Profile Name -->
        <h3 class="gem-white">Pitt Bull Lanches</h3>
        <!-- Profile Description text -->
        <p>Aberto de segunda á domingo das 12hs até 1hs. Tele-entrega</p>
        <!-- text stats -->
        <div class="gem-center">
          <i class="icon ion-android-call"></i> 51 3722-7000 | <i class="icon ion-social-whatsapp"></i> 51 99689-5723
        </div>
      </div>
      <!-- Background Image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image profile-background-image" style="vertical-align:middle;">
    </div>
    <!-- ======================
    END GEMIONIC PROFILE SECTION
    ====================== -->

    <!-- Basic Tabs - not hooked qith angular -->
    <div class="tabs gem-position-static profile-tabs">
      <a class="tab-item active">
        <i class="ion-pizza"></i> Lanches
      </a>
      <a class="tab-item">
        <i class="ion-beer"></i> Bebidas
      </a>
      <a class="tab-item">
        <i class="ion-android-happy"></i> Outros
      </a>
    </div>

    <div class="profile-feed">
      <div class="row">
        <div class="col">
            <div class="profile-post">
              <img src="img/gemionic/yellow-rect.jpg" alt="">
              <h4 class="bold">X-Salada</h4>
              <p>Bife + molho especial + saladas + pão de xis</p>
              <span class="profile-post-stat"><i class="icon ion-heart"></i> 23 </span>
              <span class="profile-post-stat"><i class="icon ion-ios7-clock"></i> R$ 13,00</span>
            </div>
            <div class="profile-post">
              <img src="img/gemionic/orange.jpg" alt="">
               <h4 class="bold">Porção de Fritas</h4>
              <p>Porção média de fritas, para até 2 pessoas</p>
              <span class="profile-post-stat"><i class="icon ion-heart"></i> 2 </span>
              <span class="profile-post-stat"><i class="icon ion-ios7-clock"></i> R$ 11,00</span>
            </div>
          </div>
        <div class="col">
          <div class="profile-post">
              <img src="img/gemionic/tall-blue.jpg" alt="">
              <h4 class="bold">X-Calabresa</h4>
              <p>Bife + molho especial + calabresa + pão de xis</p>
              <span class="profile-post-stat"><i class="icon ion-heart"></i> 10 </span>
              <span class="profile-post-stat"><i class="icon ion-ios7-clock"></i> R$ 15,00</span>
            </div>
            <div class="profile-post">
              <img src="img/gemionic/post-img-rect.jpg" alt="">
              <h4 class="bold">Cachorro quente</h4>
              <p>Cachorro quente com 1 salsicha + molho especial</p>
              <span class="profile-post-stat"><i class="icon ion-heart"></i> 4 </span>
              <span class="profile-post-stat"><i class="icon ion-ios7-clock"></i> R$ 8,00</span>
            </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
